---
layout: default
---
{% assign section_titles = 
  "basics:Profile,
   awards:Honors & Awards,
   work:Experience,
   education:Education,
   skills:Technical Skills,
   publications:Publications,
   projects:Projects,
   volunteer:Volunteer Experience,
   interests:Interests,
   certificates:Certifications,
   languages:Languages,
   references:References"
   | split: "," 
%}

{% assign title_map = {} %}
{% for pair in section_titles %}
  {% assign kv = pair | split: ":" %}
  {% assign key = kv[0] %}
  {% assign value = kv[1] %}
  {% assign title_map = title_map | merge: {key: value} %}
{% endfor %}

{% unless site.data.resume %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.cv_pdf %}
          
            {% if page.cv_pdf contains '://' %}
              href="{{ page.cv_pdf }}"
            {% else %}
              href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            title="{{ site.first_name }} {{ site.last_name }}'s CV"
          >
            <i class="fa-regular fa-file-pdf"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="cv">
        {% for entry in site.data.cv %}
          <a class="anchor" id="{{ entry.title | slugify }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-bold">
              {% if title_map[entry.title] %}
                {{ title_map[entry.title] }}
              {% else %}
                {{ entry.title }}
              {% endif %}
            </h3>
            <div>
              {% if entry.type == 'list' %}
                {% include cv/list.liquid %}
              {% elsif entry.type == 'map' %}
                {% include cv/map.liquid %}
              {% elsif entry.type == 'nested_list' %}
                {% include cv/nested_list.liquid %}
              {% elsif entry.type == 'time_table' %}
                {% include cv/time_table.liquid %}
              {% elsif entry.type == 'list_groups' %}
                {% include cv/list_groups.liquid %}
              {% else %}
                {{ entry.contents }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% else %}
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">
        {{ page.title }}
        {% if page.cv_pdf %}
          
            {% if page.cv_pdf contains '://' %}
              href="{{ page.cv_pdf }}"
            {% else %}
              href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url }}"
            {% endif %}
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            title="{{ site.first_name }} {{ site.last_name }}'s CV"
          >
            <i class="fa-regular fa-file-pdf"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </header>

    <article>
      <div class="cv">
        {% for data in site.data.resume %}
          {% if site.jsonresume and site.jsonresume.size > 0 %}
            {% unless site.jsonresume contains data[0] %}
              {% continue %}
            {% endunless %}
          {% endif %}
          {% if data[1].size == 0 %}
            {% continue %}
          {% endif %}
          {% if data[0] == 'meta' or data[1].size == 0 %} {% continue %} {% endif %}
          <a class="anchor" id="{{ data[0] | slugify }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-bold">
              {% if title_map[data[0]] %}
                {{ title_map[data[0]] }}
              {% else %}
                {{ data[0] | capitalize }}
              {% endif %}
            </h3>
            <div>
              {% case data[0] %}
                {% when 'basics' %}
                  {% include resume/basics.liquid %}
                {% when 'education' %}
                  {% include resume/education.liquid %}
                {% when 'work' %}
                  {% include resume/work.liquid %}
                {% when 'volunteer' %}
                  {% include resume/volunteer.liquid %}
                {% when 'projects' %}
                  {% include resume/projects.liquid %}
                {% when 'awards' %}
                  {% include resume/awards.liquid %}
                {% when 'skills' %}
                  {% include resume/skills.liquid %}
                {% when 'publications' %}
                  {% include resume/publications.liquid %}
                {% when 'languages' %}
                  {% include resume/languages.liquid %}
                {% when 'interests' %}
                  {% include resume/interests.liquid %}
                {% when 'certificates' %}
                  {% include resume/certificates.liquid %}
                {% when 'references' %}
                  {% include resume/references.liquid %}
                {% else %}

              {% endcase %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% endunless %}